/*************************/
/* jjb-tags				 */

body
{ 
	background-color: #111;
	color: white; 
	margin: 0 auto;
	width: 800px; 
}

a:hover { color:#396; text-decoration:none; }


/*************************/
/* jjb-base 			 */

#main { background-color: #2A2A2A; }

/*************************/
/* jjb-top 			 	 */

#top  { padding-top: 40px;  }

#top-logo 
{ 
	margin-left: 40px; 
	width:320px; 
	font-size:35px; 
}
#top-subtitle
{
	margin:7px 0 0 17px;
	font-size:17px;
	color:#29a47b;
}

#top-img 
{
	
}

/*************************/
/* jjb-container 		 */

/*************************/
/* jjb-footer 			 */

#footer 			{clear:both; font-size:smaller; margin: 10px 20px;}
#footer #contact 	{float: right; }
