/*************************/
/* jjb-tags				 */

body
{ 
	background-color: #111;
	color: white; 
	margin: 0 auto;
	width: 800px; 
}

a:hover { color:#396; text-decoration:none; }

/*************************/
/* jjb-main 			 */

#main { background-color: #2A2A2A; position:absolute; width:inherit; }
 
#main-img { position:absolute; top:-80px; z-index:1; opacity:1;; width:800px; }

/*************************/
/* jjb-top 			 	 */

#main-top
{ 
	position:relative;
	padding: 20px 0 10px 0;
	z-index:2;
	background-color:rgba(0,0,0,0.6);
}

#top-logo 
{ 
	margin-left: 40px; 
	width:320px; 
	font-size:35px; 
}
#top-subtitle
{
	margin:7px 0 0 17px;
	font-size:17px;
	color:#29a47b;
}

#top-img 
{
	
}

/*************************/
/* jjb-container 		 */

#main-container
{
	position:relative;
	margin-top:200px;
	min-height:50px;
	z-index:2;
}

#container-title
{
	padding:20px 0 10px 40px;
	background-color:rgba(0,0,0,0.6);
	min-height:30px;
}

/*************************/
/* jjb-footer 			 */

#footer 			{clear:both; font-size:smaller; margin: 10px 20px; }
#footer #contact 	{float: right; }
