/*************************/
/* jjb-tags				 */

body
{ 
	background-color: #231a1b;
	color: white; 
	margin: 0 auto;
	width: 960px; 
}

a:hover { color:#396; text-decoration:none; }


/*****************************************************************************/
/* Header                                                                    */

#header .logo { float: left; }
#header .navigation { float: right; }

/*************************/
/* jjb-top 			 	 */

#main-top
{ 
	position:relative;
	padding: 20px 0 10px 0;
	z-index:2;
	background-color:rgba(0,0,0,0.6);
}

#top-logo 
{ 
	margin-left: 40px; 
	width:320px; 
	font-size:35px; 
}
#top-subtitle
{
	margin:7px 0 0 17px;
	font-size:17px;
	color:#29a47b;
}

#top-img 
{
	
}

/*************************/
/* about-us      		 */

#about-us { 
	background-color: rgba(0, 0, 0, 0.6);
	margin: 10px 0 0px 0;
	padding: 5px 0px 20px 0;
}
#about-us h1 { margin: 10px; }

#about-us .photo { float: left; margin-left: 20px; }
#about-us .photo img { border: 5px solid white; }

#about-us .desc { display: inline; }
#about-us .desc p {
	padding: 0 0 10px 350px;
	font-size: 18px;
	line-height: 22.5px;
}

/*************************/
/* jjb-footer 			 */

#footer 			{clear:both; font-size:smaller; margin: 10px 20px; }
#footer #contact 	{float: right; }
