/*****************************************************************************/
/* Variables                                                                 */

@background-color: #231a1b;
@h1-color: #7e7056;
@h2-color: #fff;
@total-witdh: 960px;
@border-color: #5d5042;
@link-color: #3a8cd2;
@link-hover-color: #00bff3;

/*****************************************************************************/
/* Mixins                                                                    */
.rounded-corners (@radius: 4px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

/*****************************************************************************/
/* Global                                                                    */
body { 
  background-color: @background-color;
  color: white; 
  margin: 0 auto;
  width: @total-witdh; 
  font-family:Verdana;
  font-size:13px;
}

.body-home #header li.selected a { color: #3188d5; }
.body-weddings #header li.selected a { color: #fb78aa; }
.body-landscapes #header li.selected a { color: #108b00; }
.body-books #header li.selected a { color: #af168d; }
.body-about #header li.selected a { color: #d20a0c; }

h1 {
  color: @h1-color;
  font-size: 18px;
  padding: 10px 0;
  margin: 0 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid @border-color;
/*  border-top: 1px solid @border-color;*/
}

h2 {
  color: @h2-color;
  font-size: 16px;
  font-weight: bold;
}

a:hover { color:@link-hover-color; text-decoration:none; }

.arrow-bottom {
  width: 0;
  height: 0;
  border-top: 10px solid @background-color;
  border-left: 10px solid transparent; 
  border-right:10px solid transparent;
}

/*****************************************************************************/
/* Header                                                                    */

#header {
  .logo {
    float: left;
  }
  .navigation {
    float: right;
    font-family: Verdana, sans-serif;
    padding-top: 70px;
    li {
      display: inline;
      margin-left: 1em;
      position: relative;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      
      a 		{ color: white; }
      a:hover 	{ color:@link-hover-color; }

      span.arrow { display: none; }
    }
    li.selected {
      span.arrow {
        display: block;
        position: absolute;
        top: 28px;
        left: 33%;
      }
    }
  }
}

/*****************************************************************************/
/* Banner                                                                    */

#banner {
  margin-top:10px;
  img {
    border: 1px solid @border-color;
  }
}

/*****************************************************************************/
/* Container                                                                 */

#container {
  section.content {
    background-color: #292021;
    padding: 8px;
    margin: 15px 0;
    border: 1px solid @border-color;

    .rounded-corners(10px);
    .box-shadow(4px, 4px, 20px);
  }
  div.block-image {
    display: inline-block;
    margin: 0 3px;
    width: 225px;
    cursor:pointer;

    img {
      border: 3px solid white;
      .rounded-corners(4px);
    }
    

    h3 {
      color: white;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
    }
  }
  div.block-image:hover {
	img { border: 3px solid @link-color;}
	h3 	{ color:@link-color; }
}
}

/*****************************************************************************/
/* Footer                                                                    */

#footer {
  clear:both;
  font-size:smaller;
  margin: 10px 0px; 

  a 		{ color: @link-color; }
  a:hover 	{ color: @link-hover-color;}

  #contact {float: right; }
}
