{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>{% block title %}TITLE GOES HERE {% endblock %}</title>

<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/jjb/css/jjb.css" rel="stylesheet">

<link rel="shortcut icon" href="http://www.jjbrothers.net/favicon.ico" />

<!-- <script src="/js/mootools.js" type="text/javascript"></script> -->
<!-- <script src="/js/common.js" type="text/javascript"></script> -->

{% block css %}{% endblock %}
{% block js %}{% endblock %}

</head>

<body onload="{% block loaded  %}{% endblock loaded  %}">
<div id="main">
	
	<div id="main-top" class="section">
        <div id="top-logo">
			<div id="top-title">jjbr<img src="/jjb/img/aperture.png" />thers</div>
			<div id="top-subtitle">{% trans "Photographie" %}</div>
		</div>
		<!-- <div id="links">
			<ul class="nav">
				<li><a href="/weddings">{% trans "Mariages" %}</a></li>
				<li><a href="#">{% trans "Paysages" %}</a></li>
				<li><a href="mailto:jjb@jjbrothers.net">{% trans "Nous Contacter" %}</a></li>
			</ul>
				</div> -->
    </div>

	<div id="main-img">
		{% block img %}{% endblock %}
	</div>
	
	<div id="main-container">
		<div id="container-title">{% block container_title %}{% endblock %}</div>
		<div id="container-content">{% block container_content %}{% endblock %}</div>
	</div>

	<div id="about-us" class="section clearfix">
		<h1>{% trans "Evènements" %}</h1>
		<div class="photo">
			<img class="us" src="/jjb/img/photo.jpg" />
		</div>
		<div class="desc">
			{% blocktrans %}
			<p>Nous sommes deux jumeaux, Johan et Jérémy (les JJ Brothers),
			passionnés par la photographie. Nous nous efforçons lors de chaque
			évènement de créer des photos uniques, propres à notre style
			photographique.</p>
			<p>Actuellent en pleine création de notre portefolio, nous
			assistons à tous types d'évènements: mariages, célébrations, et
			autres heureuses occasions en tout genre...</p>
			<p>Ce site, qui sera le reflet de notre travail, est en pleine
			construction, revenez dans quelques temps pour avoir des idées sur
			notre type de photographie.</p>
			<p>En attendant, contactez nous sur notre adresse:
			<a href="mailto:contact@jjbrothers.net">contact@jjbrothers.net</a>
			si vous avez des questions sur nos services, tarifs, ...</p>
			<p>A bientôt !</p>
			{% endblocktrans %}
		</div>
	</div>
    
	<div id="footer">
    	<div id="contact">
    		<a href="mailto:jjb@jjbrothers.net">{% trans "Contactez Nous" %}</a>
    	</div>
        <div>Copyright &copy; 2009-2012 Johan &amp; Jérémy Attali. Tous droits réservés.</div>
   	</div> <!-- footer -->
</div> <!-- main -->
</body>
</html>
