{% extends "web/base.html" %}
{% load i18n %}
{% block title %}JJBrothers - Photographes{% endblock %}

{% block banner_img %}
  <img src="/media/img/banners/home.jpg">
{% endblock %}

{% block container_title %}{% trans "Accueil" %}{% endblock %}

{% block container_content %}
  <section class="content">
    <h2>{% trans "En quelques mots" %}</h2>
    <p>{% trans "Nous sommes deux jumeaux, Johan et Jérémy (les jjbrothers), passionnés par la photographie." %}</p>

    <h2>{% trans "Nos photos" %}</h2>
    <p>
    {% blocktrans %}
    Nous nous efforçons lors de chaque évènement de créer des photos
    uniques, propres à notre style photographique.

    Actuellent en pleine construction de notre portefolio, notre panel d’activités
    s’étend aux mariages, books photos, et divers évènements.

    Nous effectuons des photographies de paysages pour notre propre plasir.
    {% endblocktrans %}
    </p>
  </section>

  <section class="content">
    <div class="block-image">
      <img src="/media/img/photos/home/weddings.jpg" />
      <h3>{% trans "Mariages" %}</h3>
    </div>
    <div class="block-image">
      <img src="/media/img/photos/home/portfolios.jpg" />
      <h3>{% trans "Portfolios" %}</h3>
    </div>
    <div class="block-image">
      <img src="/media/img/photos/home/landscapes.jpg" />
      <h3>{% trans "Paysages" %}</h3>
    </div>
    <div class="block-image">
      <img src="/media/img/photos/home/contacts.jpg" />
      <h3>{% trans "Contact" %}</h3>
    </div>
  </section>
{% endblock %}

