{% extends "web/base.html" %}
{% load i18n %}
{% block title %}JJBrothers - {% trans "Photographes" %} - {% trans "Paysages" %}{% endblock %}

{% block logo %}<img src="/media/img/logos/landscapes.png" />{% endblock logo %}

{% block banner_img %}<img src="/media/img/banners/home.jpg">{% endblock %}

{% block container_title %}{% trans "Paysages" %}{% endblock %}

{% block container_content %}
  <h2>{% trans "California" %}</h2>
  <section class="content thumbnail-landscape">
    <div class="block-image">
      <img src="/media/img/photos/landscapes/california-1.jpg" />
      <img src="/media/img/photos/landscapes/california-2.jpg" />
      <img src="/media/img/photos/landscapes/california-3.jpg" />
      <img src="/media/img/photos/landscapes/california-4.jpg" />
      <img src="/media/img/photos/landscapes/california-5.jpg" />
    </div>
  </section>
  <h2>{% trans "France" %}</h2>
  <section class="content thumbnail-landscape">
    <div class="block-image">
      <img src="/media/img/photos/landscapes/france-1.jpg" />
      <img src="/media/img/photos/landscapes/france-2.jpg" />
      <img src="/media/img/photos/landscapes/france-3.jpg" />
      <img src="/media/img/photos/landscapes/france-4.jpg" />
    </div>
  </section>
{% endblock %}
