{% extends "web/base.html" %}
{% load i18n %}
{% block title %}JJBrothers - {% trans "Photographes" %} - {% trans "Paysages" %}{% endblock %}

{% block logo %}<img src="/media/img/logos/landscapes.png" />{% endblock logo %}

{% block banner_img %}<img src="/media/img/banners/home.jpg">{% endblock %}

{% block container_title %}{% trans "Paysages" %}{% endblock %}

{% block container_content %}
  <h2>{% trans "San Francisco" %}</h2>
  <section class="content thumbnail-landscape">
    <div class="block-image">
      <img src="/media/img/photos/landscapes/san-francisco-1.jpg" />
    </div>
  </section>
  <h2>{% trans "Yosemite National Park" %}</h2>
  <section class="content thumbnail-landscape">
    <div class="block-image">
      <img src="/media/img/photos/landscapes/yosemite-1.jpg" />
    </div>
  </section>
  <h2>{% trans "France" %}</h2>
{% endblock %}
