{% extends "web/base.html" %}
{% load i18n %}
{% block title %}JJBrothers - {% trans "Photographes" %} - {% trans "Mariages" %} {% endblock %}

{% block logo %}<img src="/media/img/logos/home.png" />{% endblock logo %}

{% block banner_img %}<img src="/media/img/banners/portfolios.jpg">{% endblock %}

{% block container_title %}{% trans "Portolios" %}{% endblock %}

{% block container_content %}
  <h2>Ralph Beaubrun</h2>
  <section class="content thumbnails-square">
    <div class="block-image">
      <img src="/media/img/photos/portfolios/ralph-beaubrun-1.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/portfolios/ralph-beaubrun-2.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/portfolios/ralph-beaubrun-3.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/portfolios/ralph-beaubrun-4.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/portfolios/ralph-beaubrun-5.jpg" />
    </div>
  </section>
  <h2>Jessica Farwell</h2>
  <section class="content thumbnails-square">
    <div class="block-image">
      <img src="/media/img/photos/portfolios/jessica-farwell-1.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/portfolios/jessica-farwell-2.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/portfolios/jessica-farwell-3.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/portfolios/jessica-farwell-4.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/portfolios/jessica-farwell-5.jpg" />
    </div>
  </section>
{% endblock %}

