{% extends "web/base.html" %}
{% load i18n %}
{% block title %}JJBrothers - {% trans "Photographes" %} - {% trans "Mariages" %} {% endblock %}

{% block logo %}<img src="/media/img/logos/weddings.png" />{% endblock logo %}

{% block banner_img %}<img src="/media/img/banners/weddings.jpg">{% endblock %}

{% block container_title %}{% trans "Mariages" %}{% endblock %}

{% block container_content %}
  <h2>Eve &amp; Bruno</h2>
  <section class="content wedding">
    <div class="block-image">
      <img src="/media/img/photos/weddings/eve-bruno-1.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/weddings/eve-bruno-2.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/weddings/eve-bruno-3.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/weddings/eve-bruno-4.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/weddings/eve-bruno-5.jpg" />
    </div>
  </section>
  <h2>Nadia &amp; Emmanuel</h2>
  <section class="content wedding">
    <div class="block-image">
      <img src="/media/img/photos/weddings/nadia-emmanuel-1.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/weddings/nadia-emmanuel-2.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/weddings/nadia-emmanuel-3.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/weddings/nadia-emmanuel-4.jpg" />
    </div>
    <div class="block-image">
      <img src="/media/img/photos/weddings/nadia-emmanuel-5.jpg" />
    </div>
  </section>
{% endblock %}

